/*index.html page*/
body::before {
    content: "";
    background-image: url(./IMG/blacklinesBackround.jpg);
    background-position: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.6; */
  }

  